<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="../image/Brand-logo.png" type="image/x-icon" />
    <link rel="stylesheet" href="../CSS/style.css">
    <link rel="stylesheet" href="../CSS/country.css">
    <link rel="stylesheet" href="../CSS/about.css">
    <link rel="stylesheet" href="../CSS/search_country.css">
    <script src="https://kit.fontawesome.com/441b972151.js" crossorigin="anonymous"></script>
    <title>Countrypedia</title>
</head>

<body>
    <div class="nav-bar w-1 m-auto">
        <div class="logo">
            <h1>Countrypedia</h1>
        </div>
        <ul class="nav-links">
            <li class="nav-link">
                <a href="/about">About</a>
            </li>
            <li class="nav-link">
                <a href="#">Contect Us</a>
            </li>
        </ul>
    </div>