<%- include("./components/header"); -%>
   <div class="about-box w-1 m-auto">
       <div class="about-img">
           <img src="../image/About-countrypedia.svg" alt="image">
       </div>
       <div class="about-content">
           <h1>Our Mission</h1>
           <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat animi, quo odit, reiciendis quidem magni sunt deleniti adipisci nihil voluptatum dolores sit. Delectus corporis, esse modi molestiae labore sed tenetur voluptatum harum! Sint, tempore illum corrupti doloribus labore a possimus accusantium. Tenetur corporis, repellat aut commodi iure laborum temporibus aliquam quos, natus nulla fuga ab. Eveniet soluta minus sapiente eius!</p>
           <div class="go-home"><a href="/">home <i class="fas fa-arrow-right"></i></a></div>
       </div>
   </div>
<script src="../JS/index.js"></script>
<%- include("./components/footer"); -%>