<%- include("./components/header"); -%>

    <div class="content-box w-1 m-auto">
        <div class="left-content">
            <h1>All information about country in one place</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab rem debitis doloremque vel praesentium odio, ratione impedit. Ipsa quia asperiores aut dignissimos labore quaerat id reprehenderit inventore beatae.</p>
            <div class="btns">
                <a href="/All_Country" class="btn">All Country</a>
                <a href="/search" class="btn">Search Country</a>
            </div>
        </div>
        <div class="right-content">
            <img src="../image/World.svg" alt="Image of Earth">
        </div>
    </div>

<%- include("./components/footer"); -%>